
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>About store</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- about-area -->
    <section class="about-area pt-100 pb-100">
        <div class="container">
            <div class="row align-items-xl-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="~/assets/client/img/images/shop.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h4 class="title">Our Story</h4>
                        <p>

                        </p>
                        <p>
                            - Chuyên phục vụ đồ chơi cao cấp mang tính GIÁO DỤC và giúp PHÁT TRIỂN TRÍ SÁNG TẠO cho trẻ

                            - Tất cả các sản phẩm đều được thông qua kiểm định theo tiêu chuẩn quốc tế, đảm bảo CHẤT LƯỢNG và độ AN TOÀN tuyệt đối

                            - Các thương hiệu đồ chơi uy tín từ nhiều Quốc gia trên thế giới như LEGO, SIKU, SCHLEICH, K'S KIDS, JANOD, MOXIE GIRLZ, LALALOOPSY, LEAPFROG..

                            - Đa dạng, phong phú với hơn 1,000 chủng loại mặt hàng dành cho các bé ở mọi độ tuổi
                        </p>
                        <div class="our-mission-wrap">
                            <h4 class="title">Mission of Our Creative House</h4>
                            <div class="our-mission-list">
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-project"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2><span class="odometer" data-count="324">00</span>+</h2>
                                        <span>Projects</span>
                                    </div>
                                </div>
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-revenue"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2>$<span class="odometer" data-count="3">00</span>M</h2>
                                        <span>Revenue</span>
                                    </div>
                                </div>
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-quality"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2><span class="odometer" data-count="379">00</span>+</h2>
                                        <span>Awards</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- about-area-end -->
