<!-- footer-area -->
<footer class="footer-area">
    <div class="footer-top pt-65 pb-25">
        <div class="container">
            <div class="footer-newsletter-wrap">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6">
                   
                </div>
            </div>
            <div class="footer-alphabet mb-55">
                <div class="row">
                    <div class="col-12">
                  
                           
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="footer-logo mb-30">
                            <a href="index.html"><img src="~/assets/client/img/logo/lego.png" alt=""></a>
                        </div>
                        <div class="footer-text mb-35">
                            <p>
                                Lego là một dòng sản phẩm đồ chơi xây dựng được Tập đoàn Lego chế tạo, một công ty tư nhân có trụ sở tại Billund, Đan Mạch. Cái tên "Lego" là viết tắt hai chữ cái đầu của hai từ leg godt, có nghĩa là "chơi hay"
                            </p>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Địa chỉ</h5>
                        </div>
                        <div class="fw-link">
                            <ul>
                                <li><a href="#">Address : số 13 đường 36 phường 10 quận 6 </a></li>
                                <li><a href="#">Phone : 0977263613</a></li>

                                <li><a href="#">Website:  lego.com</a></li>
                                <li><a href="#"> Support: supportlego.com </a></li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Thông tin công ty</h5>
                        </div>
                        <div class="">
                            <ul>
                                <li><a >Chuyên mục Lego nổi bật</a></li>
                                <li><a >Lego City - Lego Friends - Lego Minions</a></li>
                                <li><a >Lego Harry Potter - Lego Architure- Lego Technic<</a></li>
                                <li><a >Lego Juniors - Lego Duplo - Lego Classic<</a></li>
                                <li><a >Lego Mindstorms - Lego Disneys - Lego Avengers<</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-35">
                            <h5>Chính sách cửa hàng</h5>
                        </div>
                        <div class="footer-contact">
                            <ul>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i> Chính sách đổi trả
                                </li>
                              
                                <li><i class="fas fa-fax"></i>Chính sách giao hàng miễn phí</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        </div>
  
</footer>
<!-- footer-area-end -->