@model List<Mall.Models.CartItem>

                 
<div class="cart">
    <p>
        Chào mừng  <span>Cart:</span> <div id="dd" class="wrapper-dropdown-2">
        @Model.Count sản phẩm 
        <ul class="dropdown">
            <li>
                you have no items
            </li>
        </ul>
        </div>
    </p>
</div>