
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>blog single</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- blog-details-area -->
    <section class="blog-details-area pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="blog-post-item s-blog-post-item blog-details-wrap">
                        <div class="blog-thumb mb-25">
                            <img src="img/blog/blog_details_thumb.jpg" alt="">
                            <ul class="blog-overlay-tag">
                                <li><a href="#">BEAUTY</a></li>
                            </ul>
                        </div>
                        <div class="blog-post-content">
                            <div class="blog-post-meta">
                                <ul>
                                    <li><i class="far fa-calendar-alt"></i> November 14, 2020</li>
                                </ul>
                            </div>
                            <h4>Lego Story</h4>
                            <p>
                                Đối với trẻ nhỏ, đồ chơi không chỉ là món đồ có tác dụng giải trí mà còn là công cụ để trẻ tìm hiểu và khám phá thế giới xung quanh. Ngày nay, hầu hết các bậc phụ huynh thường có xu hướng chọn mua món đồ chơi thông minh cho bé. Những món đồ chơi này có tác dụng kích thích khả năng nhận thức, tư duy sáng tạo, các giác quan và trí tuệ toàn diện của trẻ ngay từ nhỏ. Nếu ba mẹ vẫn băn khoăn chưa biết lựa chọn đồ chơi thông minh nào phù hợp, thì hãy tham khảo một vài gợi ý ngay sau đây.
                            </p>
                            <p>
                                Đồ chơi Lego là sản phẩm chủ lực của công ty, bao gồm các mẫu gạch có kích thước, cấu trúc khác nhau, cho phép dễ dàng lắp ghép để tạo hình. Ngoài ra, đồ chơi Lego cũng bao gồm các nhân vật minifigures và nhiều bộ phận khác rất phong phú cho phép bạn tự do sáng tạo và xây dựng nên các câu chuyện thật thú vị. Các mảnh ghép gạch Lego có thể được lắp ráp và kết nối bằng nhiều cách, cho phép bạn có thể xây dựng nhiều đối tượng như xe cộ, nhà cửa, và robot làm việc.

                                Một trong những điều thú vị về đồ chơi Lego là bạn có thể tháo rời các mảnh ghép gạch Lego sau khi đã hoàn thành một tác phẩm và sử dụng các gạch này để tiếp tục xây dựng các tác phẩm khác, tùy theo trí tưởng tượng của bạn.

                                Tập đoàn The Lego Group bắt đầu sản xuất những viên gạch đồ chơi Lego vào năm 1949. Kể từ đó, Lego đã xây dựng cho mình một đế chế, văn hóa rất đặc sắc và riêng biệt. Nhiều phim ảnh, trò chơi, các cuộc thi, và các công viên giải trí Legoland đã ra đời, đem đến cho các bạn trẻ những điều kỳ diệu, và những trãi nghiệm thật tuyệt vời qua thế giới Lego. Theo thống kê, tính đến tháng 7 năm 2015, đã có 600 tỷ mẫu gạch Lego được sản xuất.

                                Vào tháng 2 năm 2015, nhãn hiệu Lego đã thay thế Ferrari trở thành thương hiệu mạnh nhất trên thế giới, được rất nhiều người biết đến và yêu thích.
                            </p>
                            <blockquote>
                                <div class="quote-icon">
                                    <img src="img/icon/quote.png" alt="">
                                </div>
                                Kỹ năng sắp xếp khoa học
                                Kỹ năng sắp xếp là một kỹ năng cần thiết ở cả người lớn và trẻ nhỏ. Với bộ đồ chơi LEGO có nhiều chi tiết đòi hỏi trẻ phải dành nhiều thời gian, hình dung và sắp xếp một cách logic để hoàn thành. Bởi vậy, chơi đồ chơi LEGO cho bé sẽ hình thành kỹ năng sắp xếp khoa học cho trẻ ngay từ khi còn nhỏ.
                            </blockquote>
                            <p>
                                Học cách giải quyết vấn đề
                                Trong quá trình chơi LEGO, trẻ sẽ phải xử lý liên tục các tình huống phát sinh. Chẳng hạn khi trẻ tìm sai mảnh ghép, bắt buộc phải lựa chọn mảnh ghép phù hợp khác hoặc nếu ghép sai thì cấu trúc mô hình sẽ có sự thay đổi. Điều này sẽ giúp trẻ phản xạ nhanh và xử lý tình huống chính xác hơn.
                            </p>
                            <div class="details-img-wrap">
                                <div class="details-img-col">
                                    <img src="img/blog/blog_details_img01.jpg" alt="">
                                </div>
                                <div class="details-img-col">
                                    <img src="img/blog/blog_details_img02.jpg" alt="">
                                </div>
                            </div>
                            <p>
                                Đồ chơi LEGO cho bé bao gồm nhiều mảnh ghép với các hình dáng khác nhau. Do đó, trẻ phải hình dung, vận động tư duy để tìm các mảnh ghép phù hợp để tạo thành mô hình lắp ráp hoàn chỉnh.

Ở những lần đầu chơi, ba mẹ có thể cho trẻ lắp ráp theo các chủ đề có sẵn hoặc hướng dẫn bé chơi. Về sau hãy khuyến khích trẻ phát huy trí tưởng tượng và khả năng sáng tạo với đồ chơi LEGO CLASSIC để xây dựng nên những mô hình mà bé mong muốn. Điều này sẽ giúp tư duy và sự sáng tạo của trẻ được phát triển vượt bậc.
                            </p>
                            <div class="s-blog-post-bottom">
                                <div class="blog-bottom-meta">
                                    <ul>
                                        <li><i class="far fa-heart"></i><a href="#">0 Likes</a></li>
                                        <li><i class="far fa-comment"></i>3 Comments</li>
                                        <li>
                                            <i class="fas fa-tag"></i>
                                            <a href="#">Fashion,</a>
                                            <a href="#">Lifestyle,</a>
                                            <a href="#">Blanding</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="classic-blog-share">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
</main>
<!-- main-area-end -->
